<footer
  class="flex flex-col w-full gap-20 bg-light-white items-center justify-start lg:px-20 py-10 px-5 border-t border-foreground/10"
>
  <div class="flex flex-col gap-12 w-full">
    <div class="flex flex-wrap justify-evenly">
      <app-logo />
      <footer-column
        *ngFor="let links of footerLinks"
        [title]="links.title"
        [links]="links.links"
      />
    </div>
  </div>
  <div
    class="flex justify-between border-t border-foreground/10 items-center max-sm:flex-col w-full text-sm font-normal pt-5"
  >
    <p class="text-foreground/80">Nexton eCommerce. © 2024</p>
    <div class="flex gap-1">
      <img *ngFor="let icon of paymentIcons" [src]="icon" class="" alt="" />
    </div>
  </div>
</footer>
