<section class="flex items-center justify-center">
  <hlm-carousel class="relative">
    <hlm-carousel-content class="w-full ml-0">
      <hlm-carousel-item class="pl-0 relative" *ngFor="let img of images">
        <img
          [src]="img"
          class="flex items-center w-full justify-center"
          alt=""
        />
        <div class="absolute top-0 left-0 pl-20 h-full max-w-[50%]">
          <div class="flex flex-col gap-3 justify-center h-full lg:gap-5">
            <p class="text-zinc-700 text-sm lg:text-base">
              Starting from: $49.99
            </p>
            <h1 class="text-indigo-950 font-semibold text-4xl lg:text-5xl 2xl:text-6xl">
              Exclusive collection for everyone
            </h1>
            <button
              hlmBtn
              variant="outline"
              class="w-2/5 rounded-full bg-indigo-950 text-white font-light text-sm lg:text-base"
            >
              Explore now <hlm-icon class="ml-3" size="sm" name="lucideSearch" />
            </button>
          </div>
        </div>
      </hlm-carousel-item>
    </hlm-carousel-content>
    <button hlm-carousel-previous class="absolute z-10 left-5"></button>
    <button hlm-carousel-next class="absolute z-10 right-5"></button>
  </hlm-carousel>
</section>
