<section class="flex gap-10 w-full">
  <div class="flex justify-between gap-5 w-full">
    <div
      class="flex px-5 h-full justify-center items-center bg-foreground/5 rounded-2xl mb-10"
    >
      <img
        class="size-20 mix-blend-multipl"
        [src]="item.thumbnail"
        [alt]="item.id + ' Img'"
      />
    </div>
    <div class="inline-flex justify-between flex-col w-full">
      <h4 class="text-foreground text-xl font-semibold">
        {{ item.title | truncate }}
      </h4>
      <div class="inline-flex gap-5">
        <app-counter-quantity
          [cart]="true"
          [id]="item.id"
          [quantity]="item.quantity"
          (change)="onQuantityChange($event)"
        />
        <button
          hlmBtn
          (click)="handleRemoveFromCart()"
          variant="outline"
          class="inline-flex p-3 justify-center rounded-full bg-red-500 text-white items-center gap-2 transition-colors hover:opacity-70"
        >
          <hlm-icon
            class="text-white transition-colors"
            size="sm"
            name="lucideTrash"
          />
        </button>
      </div>
    </div>
    <div>
      <h4 class="text-foreground text-xl font-semibold text-right">
        {{ item.totalPrice | currency : "BRL" }}
      </h4>
    </div>
  </div>
</section>
