<hero />
<div class="flex flex-col gap-32 px-7 mb-20 xl:px-32">
  <section class="pt-14">
    <app-brand-info />
  </section>
  <section class="flex flex-col gap-5">
    <h1 class="text-foreground text-3xl font-semibold lg:text-4xl 2xl:text-5xl">
      Start exploring.
      <span class="text-foreground/70">Good things are waiting for you</span>
    </h1>
    <div class="w-[90%] mx-auto">
      <app-collections />
    </div>
  </section>
  <section>
    <app-products-list />
  </section>
</div>
