<hero search="Roupa preta inverno simples" />
<div class="container-section">
  <section>
    <app-brand-info />
  </section>
  <section class="flex flex-col gap-5 xl:gap-10">
    <title-bicolor
      first="Start exploring."
      second="Good things are waiting for you"
    />
    <div class="w-[90%] mx-auto">
      <app-collections />
    </div>
  </section>
  <section class="flex flex-col gap-5 xl:gap-10">
    <title-bicolor
      first="Recommendations."
      second="Best matching products for you"
    />
    <app-products-carousel search="Relogio Preto" />
  </section>
  <section class="flex flex-col gap-5 xl:gap-10">
    <title-bicolor first="Best Sellers." second="Best selling of the month" />
    <app-products-carousel search="Camiseta Preta Basica" />
  </section>
  <section>
    <app-banner search="Roupa chronic" />
  </section>
</div>
